
trunk/.DS_Store

trunk/build/for-each-framework.build/Debug-iphoneos/for-each-framework.build/Objects-normal/armv7/Logger.d

trunk/build/for-each-framework.build/Debug-iphoneos/for-each-framework.build/Objects-normal/armv7/Logger.o

trunk/build/for-each-framework.build/Debug-iphoneos/for-each-framework.build/Objects-normal/armv7/Logger.dia

trunk/for-each-framework.xcodeproj/xcuserdata/tomwinter.xcuserdatad/xcschemes/Framework.xcscheme

trunk/for-each-framework.xcodeproj/xcuserdata/tomwinter.xcuserdatad/xcschemes/for-each-framework.xcscheme

trunk/for-each-framework.xcodeproj/xcuserdata/tomwinter.xcuserdatad/xcschemes/xcschememanagement.plist

trunk/for-each-framework.xcodeproj/project.xcworkspace/xcuserdata/tomwinter.xcuserdatad/UserInterfaceState.xcuserstate

trunk/for-each-framework/.DS_Store
